<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Gone_Payment">
        <sequence>
            <module name="Lyranetwork_Systempay"/>
            <module name="Magento_OfflinePayments"/>
        </sequence>
    </module>
</config>
