//
//  Inputs Styles
//  ___________________________________________

//
//  Common
//  -------------------------------------------

& when (@media-common = true) {
    .amquote-field-block {
        & {
            .am-flex(center, center);

            position: relative;
            margin: 0 @amquote__indent__xl 0 0;
        }

        .amquote-field {
            .am-flex(space-between, center);

            position: relative;
        }

        .amquote-label {
            max-width: 100px;
            margin-right: @amquote__indent;
        }

        .mage-error {
            position: absolute;
            top: 100%;
        }
    }

    // Fixed Magento 2.3.4 asterisk
    #product_composite_configure_form_fields .amasty-composite-fieldset .admin__field.required .admin__field-label:after {
        margin: 0;
        content: '';
    }
    // end Fixed Magento 2.3.4 asterisk

    .quote-shipping-method {
        .admin__page-section-title > span:after {
            color: #e22626;
            content: '*';
            font-weight: 400;
            margin-left: 3px;
        }
    }

    .admin__fieldset {
        .quote-choose-address {
            .admin__field-shipping-same-as-billing {
                .admin__field-label {
                    & {
                        width: 100%;
                    }
                }
            }
        }
    }

    .customer-account-fields {
        .admin__field {
            & {
                max-width: 50%;
            }
        }
    }

    .quote-custom-shipping-fee {
        padding: 0 @amquote__indent;
    }

    .amquote-shipping-choose {
        .amquote-title {
            .am-flex(none, center);

            line-height: 1;
        }

        .amquote-label {
            margin-right: @amquote__indent;
        }

        .amquote-options-list .amquote-option .amquote-label {
            .am-flex();
        }

        .amquote-inner {
            margin-left: @amquote__indent / 2;
            font-weight: 600;
        }
    }

    .amquote-customfee-block {
        position: relative;
        bottom: 2px;
    }
}
