<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Abandoned Cart Email Base for Magento 2
 */-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="amasty_acart_sales_order_place_after" instance="Amasty\Acart\Observer\SalesOrderAfterPlaceObserver" />
    </event>
    <event name="salesrule_validator_process">
        <observer name="amasty_acart_salesrule_validator_process" instance="Amasty\Acart\Observer\SalesruleValidatorProcess" />
    </event>
    <event name="checkout_cart_save_after">
        <observer name="amasty_acart_checkout_cart_save_after" instance="Amasty\Acart\Observer\CheckoutCartSaveAfterObserver" />
    </event>
    <event name="amasty_acart_history_save_after">
        <observer name="amasty_acart_save_history_details" instance="Amasty\Acart\Observer\SaveHistoryDetails" />
    </event>
</config>
