<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<adminpaymentmethod>
				<active>1</active>
				<title>Paiement en Salon professionnel</title>
				<order_status>pending</order_status>
				<allowspecific>0</allowspecific>
				<preselect>1</preselect>
				<model>Gone\AdminPaymentMethod\Model\AdminPaymentMethod</model>
				<group>offline</group>
			</adminpaymentmethod>
		</payment>
	</default>
</config>
