<?xml version="1.0" ?>
<!--
  ~ *
  ~ @copyright Copyright © 2020 410-Gone. All rights reserved.
  ~ @author    contact@410-gone.fr
  ~
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Cms\Model\Wysiwyg\Config">
		<plugin name="add_link_class_selector_to_wysiwyg" type="Gone\Cloaking\Plugin\WysiwygConfigPlugin" sortOrder="10" />
	</type>
</config>
