<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Gone_Shipping">
        <sequence>
            <module name="Owebia_AdvancedShipping"/>
            <module name="Chronopost_Chronorelais"/>
            <module name="Magento_Sales"/>
            <module name="Magento_Quote"/>
            <module name="Colissimo_Shipping"/>
            <module name="Colissimo_Rule"/>
        </sequence>
    </module>
</config>
