<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Newsletter\Model\Subscriber">
        <plugin name="AtooSync_GesCom::subscriber" type="AtooSync\GesCom\Newsletter\Model\Subscriber" sortOrder="1" disabled="false"/>
    </type>

    <preference for="Chronopost\Chronorelais\Plugin\ShipmentSave" type="AtooSync\GesCom\Plugin\ShipmentSave" />
</config>
