<div class="field" data-bind="css: {'required': $parent.required}">
    <label class="label">
        <span data-bind="i18n: $parent.label"></span>
    </label>
    <div class="control">
        <input type="text"
               data-bind='
                        attr: {
                            name: $parent.code + "[]",
                            "data-validate": $parents[1].required ? "{required:true}" : "{}"
                        }
                   ' />
    </div>
    <div class="field additional no-label" data-bind="foreach: new Array($parent.lineCount)">
        <div class="control">
            <input type="text"
                   data-bind='
                    attr: {
                        name: $parents[1].code + "[]",
                        "data-validate": $parents[1].required ? "{required:true}" : "{}"
                    }
               ' />
        </div>
    </div>
</div>
