<div class="amrma-fieldset-wrapper"
     css="$data.additionalClasses"
     attr="'data-index': index"
     data-bind="visible: $data.visible === undefined ? true: $data.visible">
    <div class="amrma-fieldset-wrapper-title">
        <strong class="amrma-strong" css="'_loading': loading,
                      '_error': error">
            <!-- ko if $data.label: -->
                <span data-bind="i18n: $data.label"></span>
            <!-- /ko -->
            <span class="admin__page-nav-item-messages" if="collapsible">
                <span class="admin__page-nav-item-message _changed">
                    <span class="admin__page-nav-item-message-icon"></span>
                    <span class="admin__page-nav-item-message-tooltip"
                          data-bind="i18n: 'Changes have been made to this section that have not been saved.'">
                    </span>
                </span>
                <span class="admin__page-nav-item-message _error">
                    <span class="admin__page-nav-item-message-icon"></span>
                    <span class="admin__page-nav-item-message-tooltip"
                          data-bind="i18n: 'This tab contains invalid data. Please resolve this before saving.'">
                    </span>
                </span>
                <span class="admin__page-nav-item-message-loader">
                    <span class="spinner">
                       <span repeat="8"/>
                    </span>
               </span>
            </span>
        </strong>
    </div>
    <div class="amrma-admin__fieldset-wrapper-content amrma-fieldset-container">
        <input type="radio" name="tabset" id="amrma-tab1" class="amrma-rma amrma-radio" checked />
        <label class="amrma-tab" for="amrma-tab1" data-bind="i18n: 'RMA'"></label>
        <input type="radio" name="tabset" id="amrma-tab2" class="amrma-information amrma-radio" />
        <label class="amrma-tab" for="amrma-tab2" data-bind="i18n: 'Customer Information'"></label>
        <!-- ko if: $data.custom_fields_label -->
        <input type="radio" name="tabset" id="amrma-tab3" class="amrma-bank amrma-radio" />
        <label class="amrma-tab" for="amrma-tab3" data-bind="text: $data.custom_fields_label"></label>
        <!-- /ko -->
        <!-- ko if: $data.rating > 0 -->
        <input type="radio" name="tabset" id="amrma-tab4" class="amrma-rating amrma-radio" />
        <label class="amrma-tab" for="amrma-tab4">
            <p class="amrma-rated-rating -admin">
                <span class="amrma-star" data-bind="css: 'amrma-star-' + $data.rating"></span>
            </p>
        </label>
        <!-- /ko -->
        <fieldset class="amrma-admin__fieldset amrma-fieldset"
                  each="data: elems, as: 'element'"
                  render=""/>
    </div>
</div>
