<!-- ko if: (visible && element.previewImageUrl !== null) -->
    <div class="preview amlabel-image-preview">
        <img class="amlabel-image"
            data-am-label-js="preview-image"
            data-bind="attr: {src: element.previewImageUrl, 'data-am-label-preview-type': element.previewType}"
        />
        <div class="amlabel-position-wrapper"
             data-bind="attr: {style: element.wrapperStyle}, afterRender: element.createOnloadListener">
            <div class="amasty-label-container -preview" data-bind="attr: {style: element.labelStyle}">
                <!-- ko if: (element.labelImage) -->
                    <img class="amasty-label-image amlabel-preview-image" data-bind="attr: {src: element.labelImage}">
                <!-- /ko -->
                <div class="amlabel-text" data-bind="text: element.labelText"></div>
            </div>
        </div>
    </div>
<!-- /ko -->
