<!-- ko if: (visible && Object.values(shapeList).length) -->
<div class="amlabel-shapes-container">
    <!-- ko foreach: {data: shapeList, as: 'shape'} -->
    <div
        data-bind="click: element.chooseShape.bind(element), css: {'-am-checked': element.isShapeSelected(shape)}"
        class="amlabel-shape"
    >
        <img
            data-bind="attr: {src: element.generateDataUrl(shape.shapeContent), alt: shape.shapeDescription}"
            class="amlabel-image"
        >
    </div>
    <!-- /ko -->
</div>
<!-- /ko -->
