<?xml version="1.0"?>
<!--
  ~ Copyright © 410 Gone (contact@410-gone.fr). All rights reserved.
  ~ See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <amrma>
            <general>
                <show_return_period_cart>0</show_return_period_cart>
            </general>
        </amrma>
        <aw_customer_segmentation>
            <general>
                <is_frontend_compatibility_enabled>1</is_frontend_compatibility_enabled>
            </general>
        </aw_customer_segmentation>
        <fbuilder>
            <general>
                <is_enabled>1</is_enabled>
            </general>
        </fbuilder>
        <amastyfaq>
            <general>
                <url_key>faq</url_key>
                <add_to_toolbar_menu>0</add_to_toolbar_menu>
            </general>
            <product_page>
                <tab_name>Faq</tab_name>
                <short_answer_behavior>0</short_answer_behavior>
            </product_page>
            <faq_page>
                <no_result>Pas de résultats trouvés</no_result>
            </faq_page>
            <seo>
                <add_structureddata>1</add_structureddata>
                <add_richdata_breadcrumbs>1</add_richdata_breadcrumbs>
            </seo>
            <gdpr>
                <enabled>1</enabled>
                <text>
                    <![CDATA[J'accepte la <a href="/privacy-policy" target="_blank">politique de confidentialité</a>]]></text>
            </gdpr>
        </amastyfaq>
        <amasty_request_quote>
            <general>
                <is_active>1</is_active>
                <visible_on_pdp>1</visible_on_pdp>
                <visible_on_plp>1</visible_on_plp>
            </general>
        </amasty_request_quote>
        <shopbybrand>
            <general>
                <attribute>brands</attribute>
                <route>nos-marques</route>
                <link_title>Nos marques</link_title>
            </general>
            <brandpage>
                <name>Nos marques</name>
                <color>#005ea8</color>
                <related_products>
                    <enabled>1</enabled>
                </related_products>
            </brandpage>
            <sidebar>
                <category_brand>
                    <enable>0</enable>
                </category_brand>
            </sidebar>
        </shopbybrand>
        <layered_navigation>
            <design>
                <slider_type>1</slider_type>
                <custom_css><![CDATA[.irs-bar,.irs-from,.irs-to{background: #ff6e04;}]]></custom_css>
            </design>
        </layered_navigation>
        <productattachments>
            <general>
                <show_on>3</show_on>
                <title>Fichier(s)</title>
            </general>
            <default_value>
                <store_view>0</store_view>
                <customer_group>0</customer_group>
                <is_login>0</is_login>
                <is_buyer>0</is_buyer>
                <customer_action>1</customer_action>
            </default_value>
        </productattachments>
        <md_productpdf>
            <general>
                <enabled>1</enabled>
                <enable_customergroups>0,1,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,24,25,26,27,28,29,30
                </enable_customergroups>
                <exclude_tag_des><![CDATA[<p><br><ul><li><ol><b><i><h2><h3><img>]]></exclude_tag_des>
                <enable_reviewes>0</enable_reviewes>
            </general>
            <formating_options>
                <product_title>#005ea8</product_title>
                <link_color>#008af6</link_color>
                <heading_color>#005ea8</heading_color>
            </formating_options>
            <header_footer>
                <pdf_header_image><![CDATA[default/Logo.png]]></pdf_header_image>
                <pdf_footer_text>
                    <![CDATA[Zone Industrielle de la Marinière - 6, rue Bernard Palissy
                    91070 Bondoufle - FRANCE
                    Tél : 01 64 85 11 06
                    info@graphic-reseau.com
                    Commandez en ligne sur www.graphic-reseau.com]]>
                </pdf_footer_text>
            </header_footer>
        </md_productpdf>
        <amasty_gdprcookie>
            <cookie_policy>
                <first_visit_show>0</first_visit_show>
            </cookie_policy>
            <cookie_bar_customisation>
                <cookies_bar_style>0</cookies_bar_style>
                <classic_bar>
                    <accept_button>
                        <button_text>Accepter Tout</button_text>
                    </accept_button>
                    <decline_button>
                        <enable>1</enable>
                        <button_text>Refuser Tout</button_text>
                    </decline_button>
                    <settings_button>
                        <button_text>Paramétrer</button_text>
                    </settings_button>
                </classic_bar>
            </cookie_bar_customisation>
        </amasty_gdprcookie>
    </default>
    <stores>
        <photographie_francais>
            <av_configuration>
                <system_integration>
                    <enabledwebsite>1</enabledwebsite>
                    <secretkey>8df3bb4b-d1ff-02c4-7502-13bc0ac0dbd3</secretkey>
                    <idwebsite>8fc205ed-1042-1314-c578-bd35ae5422a5</idwebsite>
                </system_integration>
                <advanced_configuration>
                    <activate_rich_snippets>jsonld</activate_rich_snippets>
                    <rich_snippets_already_exist>1</rich_snippets_already_exist>
                </advanced_configuration>
            </av_configuration>
        </photographie_francais>
        <prepresse_imprimeur_francais>
            <av_configuration>
                <system_integration>
                    <enabledwebsite>1</enabledwebsite>
                    <secretkey>8df3bb4b-d1ff-02c4-7502-13bc0ac0dbd3</secretkey>
                    <idwebsite>8fc205ed-1042-1314-c578-bd35ae5422a5</idwebsite>
                </system_integration>
                <advanced_configuration>
                    <activate_rich_snippets>jsonld</activate_rich_snippets>
                    <rich_snippets_already_exist>1</rich_snippets_already_exist>
                </advanced_configuration>
            </av_configuration>
        </prepresse_imprimeur_francais>
        <signaletique_affichage_francais>
            <av_configuration>
                <system_integration>
                    <enabledwebsite>1</enabledwebsite>
                    <secretkey>8df3bb4b-d1ff-02c4-7502-13bc0ac0dbd3</secretkey>
                    <idwebsite>8fc205ed-1042-1314-c578-bd35ae5422a5</idwebsite>
                </system_integration>
                <advanced_configuration>
                    <activate_rich_snippets>jsonld</activate_rich_snippets>
                    <rich_snippets_already_exist>1</rich_snippets_already_exist>
                </advanced_configuration>
            </av_configuration>
        </signaletique_affichage_francais>
        <sublimation_textile_francais>
            <av_configuration>
                <system_integration>
                    <enabledwebsite>1</enabledwebsite>
                    <secretkey>8df3bb4b-d1ff-02c4-7502-13bc0ac0dbd3</secretkey>
                    <idwebsite>8fc205ed-1042-1314-c578-bd35ae5422a5</idwebsite>
                </system_integration>
                <advanced_configuration>
                    <activate_rich_snippets>jsonld</activate_rich_snippets>
                    <rich_snippets_already_exist>1</rich_snippets_already_exist>
                </advanced_configuration>
            </av_configuration>
        </sublimation_textile_francais>
    </stores>
</config>
