<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="gone_contact" id="gone_contact">
			<module before="Magento_Backend" name="Gone_Contact"/>
		</route>
	</router>
</config>
