<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Gone_Glossary::gone_glossary_definition"
			 title="Glossary"
			 module="Gone_Glossary"
			 sortOrder="10"
			 resource="Magento_Backend::content"
			 parent="Gone::top_level"
			 action="gone_glossary/definition/index"
		/>
	</menu>
</config>
